.death, death
{
    color: darkred;
    font-family: 'VT323', monospace;
}

body
{
    color: lightgrey;
    background-color: #2c2f33;
    font-family: 'Alata';
    font-size: 1.6em;
    margin-left: 2%;
    margin-right:2%;
    padding: 20px;
    float: left;
}

.name, .stats, .strength_value, .knowledge_value, .magic_value, .character
{
    color: lightgrey;

}

.right
{
    float: right;
    overflow: auto;
    color: lightgrey;
    margin-top: 6%;
}

.heading
{
    margin-top: 4%;
}

button, .myfieldclass, input{
  color: black;
  display: inline;
}

.mini_picture
{
    float: left;
    width: 33.33%;
    padding: 5px;
}

.picture_reihe::after
{
    content: "";
    clear: both;
    display: table;
}

/*
.character1{background-image:url(https://i.imgur.com/uQ78QZ0.png);}
.character2{background-image:url(https://i.imgur.com/nzVj1gc.png);}
.character3{background-image:url(https://i.imgur.com/WfOgsuB.png);}

.picture_row input{
    margin:0;padding:0;
    -webkit-appearance:none;
       -moz-appearance:none;
            appearance:none;
}

.picture_row input:active +.character-cc{opacity: .9;}
.picture_row input:checked +.character-cc{
    -webkit-filter: none;
       -moz-filter: none;
            filter: none;
}
.character-cc{
    cursor:pointer;
    background-size:contain;
    background-repeat:no-repeat;
    display:inline-block;
    width:415px;height:278px;
    -webkit-transition: all 100ms ease-in;
       -moz-transition: all 100ms ease-in;
            transition: all 100ms ease-in;
    -webkit-filter: brightness(1.8) grayscale(1) opacity(.7);
       -moz-filter: brightness(1.8) grayscale(1) opacity(.7);
            filter: brightness(1.8) grayscale(1) opacity(.7);
}
.character-cc:hover{
    -webkit-filter: brightness(1.2) grayscale(.5) opacity(.9);
       -moz-filter: brightness(1.2) grayscale(.5) opacity(.9);
            filter: brightness(1.2) grayscale(.5) opacity(.9);
}
*/
