{% load static %}

<!-- aus irgendeinem grund muss jede html datei manuell in
ba2020_564925\myvenv\Lib\site-packages\django\contrib\admin\templates
ba2020_564925\myvenv\Lib\site-packages\django\contrib\auth\templates\game
hinzugefügt bzw überschrieben werden, damit sie aktuell ist -->


<html>
<head>
	<title>Character Creation</title>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	<!-- <link rel="stylesheet" href="{% static 'css/game.css' %}"> -->
	<link rel="stylesheet" type="text/css" href="../../static/game.css">
	<link href="//fonts.googleapis.com/css?family=Alata&subset=latin,latin-ext" rel="stylesheet" type="text/css">
</head>

<h2>Welcome new adventurer! It&#39;s time to introduce yourself</h2>
<form method="POST" action="{% url 'character_creation' %}">

<p>&nbsp;</p>

<p>First of all, tell me a little bit about your character. </p>
    {% csrf_token %}
    {{ form.as_p }}
<p>&nbsp;</p>
<div class="picture_reihe">
     <div class="mini_picture">
        <a href="https://imgur.com/2cCV5nL"><img src="https://i.imgur.com/2cCV5nL.png" title="source: imgur.com" /></a>
     </div>
    <div class="mini_picture">
        <a href="https://imgur.com/IPRSvsm"><img src="https://i.imgur.com/IPRSvsm.png" title="source: imgur.com" /></a>
    </div>
    <div class="mini_picture">
        <a href="https://imgur.com/trSTToh"><img src="https://i.imgur.com/trSTToh.png" title="source: imgur.com" /></a>
     </div>
</div>
    <p></p>
<p>Now, are you prepared to begin your story, adventurer?&nbsp; </p>

    <button type="submit" value="I'm prepared!">I'm prepared!</button>
</form>
</html>
<!--
<div class="picture_row">
		<input checked="checked" id="character1" type="radio" name="character" value="character1" />
        <label class="character-cc character1" for="character1" ></label>
        <input id="character2" type="radio" name="character" value="character2" />
        <label class="character-cc character2"for="character2" ></label>
		<input id="character3" type="radio" name="character" value="character3" />
        <label class="character-cc character3"for="character3" ></label>
</div>
-->

