{% load static %}

<!-- aus irgendeinem grund muss jede html datei manuell in
ba2020_564925\myvenv\Lib\site-packages\django\contrib\admin\templates
ba2020_564925\myvenv\Lib\site-packages\django\contrib\auth\templates\game
hinzugefügt bzw überschrieben werden, damit sie aktuell ist -->


<html>
<head>
	<title>The beginning</title>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	<!-- <link rel="stylesheet" href="{% static 'css/game.css' %}"> -->
	<link rel="stylesheet" type="text/css" href="../../static/game.css">
	<link href="//fonts.googleapis.com/css?family=Alata&subset=latin,latin-ext" rel="stylesheet" type="text/css">
</head>

<h2>Welcome new adventurer! </h2>

<p>&nbsp;</p>

<p>Here you can create your own character, and explore an adventure. </p>
<p>You yourself decide what will happen so try to stay safe. </p>
<p>Follow the story and see how it unfolds! </p>
<p>(The game finishes with the second page of dialogue, for now.) </p>

<div class="picture_reihe">
    <div class="mini_picture">
        <a href="https://imgur.com/uQ78QZ0"><img src="https://i.imgur.com/uQ78QZ0.png" title="source: imgur.com" /></a>
        <!-- <img src="pictures/character1.png"> -->
    </div>
    <div class="mini_picture">
        <a href="https://imgur.com/nzVj1gc"><img src="https://i.imgur.com/nzVj1gc.png" title="source: imgur.com" /></a>
        <!-- <img src="pictures/character2.png"> -->
    </div>
    <div class="mini_picture">
        <a href="https://imgur.com/WfOgsuB"><img src="https://i.imgur.com/WfOgsuB.png" title="source: imgur.com" /></a>
        <!-- <img src="pictures/character3.png"> -->
    </div>
</div>

 <form action="{% url 'character_creation' %}">

<p></p>
<p>Are you ready for this?&nbsp;Zimzalabim! </p>

    <button type="submit" value="I'm ready!">I'm ready!</button>
</form>
</body>
</html>
<!--
<div class="picture_row">
		<input checked="checked" id="character1" type="radio" name="character" value="character1" />
        <label class="character-cc character1" for="character1" ></label>
        <input id="character2" type="radio" name="character" value="character2" />
        <label class="character-cc character2"for="character2" ></label>
		<input id="character3" type="radio" name="character" value="character3" />
        <label class="character-cc character3"for="character3" ></label>
</div>
-->

