{% load static %}

<head>
	<title>Chapter 2 - Shout</title>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	<!-- <link rel="stylesheet" href="{% static 'css/game.css' %}"> -->
	<link rel="stylesheet" type="text/css" href="../../static/game.css">
	<link href="//fonts.googleapis.com/css?family=Alata&subset=latin,latin-ext" rel="stylesheet" type="text/css">
</head>

<body>

<div class="right">
<div id="stats" class="stats">
	<form>
		{% csrf_token %}
		<p> Name: {{ character.get_name }} </p>
		<p> Status: alive </p>
	</form>
</div>
		<div class="delete">
		<p> Tired of playing?</p>
		<form method="DELETE">
			{% csrf_token %}
			<button type="submit" value="Delete current character">Delete current character</button>
		</form>
	</div>
</div>
</div>

<div class="pictures">
	<a href="https://imgur.com/DQbTwQ8"><img src="https://i.imgur.com/DQbTwQ8.png" title="source: imgur.com"  alt="picture"/></a>
	<!-- <img src="./pictures/monster.png"> -->

</div>
</div>

<h2 class="heading">You have made your choice!</h2>
<p>&nbsp;</p>

<div class="story">
	<p> You have decided to shout back, answering the screams. Is someone in danger? Why are they screaming? </p>
	<p> But there is no answer. Just what was that supposed to be anyways? Now you feel stupid for having screamed into these woods. </p>
	<p> Suddenly, you hear some rustling coming from your right. Is someone coming your way? Maybe the person from a few moments ago.
		This feels weird though... Weirdly dangerous. So you start to pack up your new found things.
		It feels weirdly familiar, tossing the backpack with the book inside over your shoulder, and securing the scabbard around your waist.
		Is this really the first time you are handling a sword like this? </p>
	<p>	You hear footsteps coming closer and closer, there is no time to think. Someone... No, something is coming. Coming for you.
		You quickly turn and jog to the opposite direction the steps are came from.
		It's not easy making your way through the forest, trying not to trip on tree roots, or getting stuck in thick bushes. </p>
	<p> Eventually you reach a clearing. It's empty, so you continue your way. The wind is getting stronger,
		and the trees around you start swaying uncontrollably. The rustling and cracking of the branches sounds scary.
		It doesn't seem like you are safe just yet... </p>
	<p> You have no time to think about that, as you hear a roar coming from behind you.
		You turn around, seeing a monster emerging from the woods. You halt, as it slowly walks towards you. </p>
	<p> It is not safe, here it's not safe, you are not safe. This... thing is out for blood.
		This monster, something you only know from fantasy stories, is out to get you. This is definitely not good, no no no. </p>
	<p> Panicking you look around. What are you supposed to do? What CAN you do?  </p>
	<p> And then you feel warmth. Your back... the backpack, no book? And also on your side... the sword.
		It seems like your choices are very limited. </p>
</div>

<div class="choices">
<br>
<p>Now, what are you going to do, adventurer?&nbsp;</p>
	<form action="{% url 'page_3_choice_book' %}">
    	<button type="submit" value="Use the book">Use the book </button>
	</form>
	<form action="{% url 'page_3_choice_sword' %}">
    	<button type="submit" value="Use the sword">Use the sword </button>
	</form>
	<form action="{% url 'page_3_choice_leave' %}">
    	<button type="submit" value="Run away">Run away </button>
	</form>
</div>
</body>

