{% load static %}

<head>
	<title>Chapter 2 - Follow</title>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	<link rel="stylesheet" type="text/css" href="../../static/game.css">
	<link href="//fonts.googleapis.com/css?family=Alata&subset=latin,latin-ext" rel="stylesheet" type="text/css">
</head>

<body>

<div class="right">
<div id="stats" class="stats">
	<form>
		{% csrf_token %}
		<p> Stats: {{ character.get_name }} </p>
		<p> Strength: {{ character.get_strength }} </p>
		<p> Magic: {{ character.get_magic }} </p>
		<p> Knowledge: {{ character.get_knowledge }} </p>
	</form>
</div>

<div class="pictures">
	<a href="https://imgur.com/P3Au2JE"><img src="https://i.imgur.com/P3Au2JE.png"  alt="picture"/></a>
	<!--<img src="./pictures/frau.png"> -->
</div>
</div>

<h2 class="heading">You have made your choice!</h2>
<p>&nbsp;</p>

<div class="story">
	<p> You have decided to follow the screams. But first, you pack up your new found things.
	It feels weirdly familiar, tossing the backpack with the book inside over your shoulder, and securing the scabbard around your waist.
	Is this really the first time you are handling a sword like this? </p>
	<p>Another scream, there is no time to think. You quickly turn and jog to the direction the voice came from.
	It's not easy making your way through the forest, trying not to trip on tree roots, or getting stuck in thick bushes. </p>
	<p> Eventually you reach a clearing. It's empty, except for the person lying on the other side of it.
	Noticing you, they turn around with a horrified expression on their face. It's a young woman, suddenly not looking so scared anymore.</p>
	<p> "Adventurer! Please, aid me with your help." </p>
	<p> You slowly walk towards her. But you start to wonder... Why would she need help, lying there all alone?
		Doesn't this seem kind of suspicious? You slow down, thinking, and come to a stop.
		Just what could have happened here? </p>
	<p> "No, please! Don't leave me...", she start to sob, "You are the first person to come by, after so long...
	You can't just... I can't..." </p>
	<p> The woman starts crying. </p>
</div>


<div class="choices">
<br>
<p>Now, what are you going to do, adventurer?&nbsp;</p>
	<form action="{% url 'page_3_choice_book' %}">
    	<input type="submit" value="Help the woman" />
	</form>
	<form action="{% url 'page_3_choice_sword' %}">
    	<input type="submit" value="Ask her about this situation" />
	</form>
	<form action="{% url 'page_3_choice_leave' %}">
    	<input type="submit" value="Leave her alone" />
	</form>
</div>
</body>


