{% load static %}

<head>
	<title>Chapter 1</title>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	<link rel="stylesheet" type="text/css" href="../../static/game.css">
	<link href="//fonts.googleapis.com/css?family=Alata&subset=latin,latin-ext" rel="stylesheet" type="text/css">
</head>

<body>

<div class="right">
<div id="stats" class="stats">
	<form>
		{% csrf_token %}
		<p> Name: {{ this_character_name }} </p>
		<p> Status: alive </p>
	</form>
</div>
	<div class="delete">
		<p> ------------------</p>

	<div class="pictures">
		<a href="https://imgur.com/P3Au2JE"><img src="https://i.imgur.com/P3Au2JE.png"  alt="picture"/></a>
		<!--<img src="./pictures/frau.png"> -->
		<p></p>
		<p></p>
	</div>
	<div class="pictures">
		<a href="https://imgur.com/DQbTwQ8"><img src="https://i.imgur.com/DQbTwQ8.png" title="source: imgur.com"  alt="picture"/></a>
		<!-- <img src="./pictures/monster.png"> -->
		<p></p>
		<p></p>
	</div>
	<div class="pictures">
		<a href="https://imgur.com/c29u6LL"><img src="https://i.imgur.com/c29u6LL.png" title="source: imgur.com"  alt="picture"/></a>
		<!-- <img src="./pictures/mann.png"> -->
		<p></p>
		<p></p>
	</div>
</div>
</div>

<h2 class="heading">Your adventure has begun!</h2>
<p>&nbsp;</p>

<div class="story">
	<p> Your ears are buzzing. It hurts. </p>
	<p> Different sounds enter your mind, as a high pitched noise is starting to fade away. There is the rustling of the trees.  </p>
	Their branches cracking in a strong breeze. You hear birds chirping their favorite songs. They sound so peaceful and happy.
	<p> A smell enters your nose. Green grass, muddy earth, musty woods. You slowly open your eyes, adjusting to the light. </p>
	<p> Yeah, you are deep deep inside a forest. But... How did you end up here? You are trying to remember the last thing you did. </p>
	Sitting at a table. Hands rushing through keys. A big spacious room, full with other people.
	<p> A lecture. You were sitting inside a room attending your class. But now... How did this happen? </p>
	<p> You look around, trying to find something, anything that may help you get a hold of this situation.
		But there's only trees. Not a sign of civilization. </p>
	<p> Looking down, you notice a sword and a book lying to each of your sides. There is also an old backpack,
		and a scabbard, probably for the sword.</p>
	<p> The book looks old and worn. You flip through the pages, but you can't understand the language. The writing doesn't even look familiar.
		There are a few pictures here and there, showing someone in weird positions... getting hurt? Hurting someone else?
		Just what could this be? </p>
	<p> You pick up the sword. It doesn't feel as heavy in your hands as you thought it would.
		There is some kind of inscription on the blade, in that same unfamiliar writing. </p>
	<p> Suddenly you see a flock of birds flying out of the forest from your right. Something must have startled them.
		Thinking nothing of it, you try to inspect the two items more, but right then you hear a scream. </p>
	<p>	Again, you hear a loud "HELP"...</p>
	<p>	The voice doesn't seem to be that far away. </p>
	<p></p>
	<p> You have decided to shout back, answering the screams. Is someone in danger? Why are they screaming? </p>
	<p> But there is no answer. Just what was that supposed to be anyways? Now you feel stupid for having screamed into these woods. </p>
	<p> Suddenly, you hear some rustling coming from your left. Is someone coming your way? Maybe the person from a few moments ago.
		This feels weird though... Weirdly dangerous. So you start to pack up your new found things.
		It feels weirdly familiar, tossing the backpack with the book inside over your shoulder, and securing the scabbard around your waist.
		Is this really the first time you are handling a sword like this? </p>
	<p>	You hear footsteps coming closer and closer, there is no time to think. Someone... No, something is coming. Coming for you.
		You quickly turn and jog to the opposite direction the steps are came from. To the direction the screams came from.
		It's not easy making your way through the forest, trying not to trip on tree roots, or getting stuck in thick bushes. </p>
	<p> Eventually you reach a clearing. It's empty, except for the person lying on the other side of it.
		Noticing you, they turn around with a horrified expression on their face. It's a young woman, suddenly not looking so scared anymore.</p>
	<p> "Adventurer! Please, aid me with your help." </p>
	<p> You slowly walk towards her. But you start to wonder... Why would she need help, lying there all alone?
		Doesn't this seem kind of suspicious? You slow down, thinking, and come to a stop.
		Just what could have happened here? </p>
	<p> "No, please! Don't leave me...", she starts to sob, "You are the first person to come by, after so long...
		You can't just... I can't..." </p>
	<p>	Suddenly the trees around you start swaying uncontrollably. The rustling and cracking of the branches sounds scary.
		It doesn't seem like you are safe just yet... </p>
	<p> You have no time to think about that, as you hear a roar coming from behind you.
		You turn around, seeing a monster emerging from the woods. You hold your breath, as it slowly walks towards you. </p>
	<p> The woman starts crying. </p>
	<p> This monster, something you only know from fantasy stories, is out to get you. This is definitely not good. </p>
	<p> Panicking you look around. What are you supposed to do? What CAN you do?  </p>
	<p> You get stopped in your train of thoughts, as a figure emerges out of the other side of the woods, close to the woman.  </p>
	<p> This darkly dressed person emits an enormous aura of danger. You notice the two daggers they are holding.
		It is not safe, here is not safe, you are not safe. This is definitely not good at all, no no no. </p>
	<p> And then you feel warmth. Your back... the backpack, no book? And also on your side... the sword.
		It seems like your choices are very limited. </p>
</div>


<div id="choices" class="choices">
<br>
<p>Now, what are you going to do, adventurer?&nbsp;</p>
	<form method="POST" action="{% url 'survived' %}">
		{% csrf_token %}
    	<button type="submit" value="Use the book">Use the book </button>
	</form>
	<form method="POST" action="{% url 'survived' %}">
		{% csrf_token %}
    	<button type="submit" value="Use the sword">Use the sword </button>
	</form>
	<form method="POST" action="{% url 'death' %}">
		{% csrf_token %}
    	<button type="submit" value="Run away">Run away </button>
	</form>
</div>
</body>


