<h2>You have made your choice!</h2>
<p>&nbsp;</p>

<p>konsequenzen SHOUT</p>
<p>spannender text<br />blabla</p>
<p>absatz am ende der so wowowow ist</p>
<p>MONSTER absatz, was soll man machen omg?</p>
<p>&nbsp;</p>

<p>Now, what are you going to do, adventurer?&nbsp;</p>

<p><input name="choice_2_3_1" type="button" value="Fight the mysterious figure with your sword" />
    &nbsp;&nbsp;<input name="choice_2_3_2" type="button" value="Fight the mysterious figure with your magical tome" />
    &nbsp;&nbsp;<input name="choice_2_3_3" type="button" value="Run away" /></p>

<p>
    <form>
		<input type="button" value="Fight the mysterious figure with your sword" onclick="'page_3_choice_figure_sword.html'" />
	</form>
    <form>
		<input type="button" value="Fight the mysterious figure with your magical tome" onclick="'page_3_choice_figure_magic.html'" />
	</form>
    <form>
		<input type="button" value="Run away" onclick="'page_3_choice_figure_run.html'" />
	</form>
</p>