{% load static %}

<head>
	<title>Chapter 3</title>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	<!-- <link rel="stylesheet" href="{% static 'css/game.css' %}"> -->
	<link rel="stylesheet" type="text/css" href="../../static/game.css">
	<link href="//fonts.googleapis.com/css?family=Alata&subset=latin,latin-ext" rel="stylesheet" type="text/css">
</head>

<body>

<div class="right">
<div id="stats" class="stats">
	<form>
		{% csrf_token %}
		<p> Name: {{ this_character_name }} </p>
		<p> Status: alive </p>
	</form>
</div>
		<div class="delete">
		<p> ------------------</p>
		<p> Tired of playing?</p>
		<form method="POST">
			{% csrf_token %}
			<button type="submit" value="Delete current character">Delete current character</button>
		</form>
	</div>
</div>

<h2 class="heading">You have made your choice!</h2>
<p>&nbsp;</p>

<p> placeholder</p>
<p>&nbsp;</p>

<br>
<p>Now, what are you going to do, adventurer?&nbsp;</p>

</body>