<h2>Your adventure has begun!</h2>
<p>&nbsp;</p>

<p>intro blablabla</p>
<p>spannender text<br />blabla</p>
<p>absatz am ende der so wowowow ist</p>
<p>schock absatz, was soll man machen omg?</p>
<p>&nbsp;</p>

<p>Now, what are you going to do, adventurer?&nbsp;</p>

<p>
    <form>
		<input type="button" value="Follow the voice" onclick="'page_2_choice_follow.html'" />
	</form>
    <form>
		<input type="button" value="Run in the opposite direction" onclick="'page_2_choice_run.html'" />
	</form>
    <form>
		<input type="button" value="Shout back at the voice" onclick="'page_2_choice_shout.html'" />
	</form>
</p>