{% load static %}
<html class="death">
<head>
	<title>Your story ends here... for now</title>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	<link rel="stylesheet" type="text/css" href="../../static/game.css">
	<link href="//fonts.googleapis.com/css?family=Alata&subset=latin,latin-ext" rel="stylesheet" type="text/css">
</head>

<body>
<div class="right">
	<div id="stats" class="stats">
		<form method="GET" action="{% url 'survived' %}" >
			{% csrf_token %}
			<p> Tired of playing? </p>
			<p> How about restarting? </p>
			<button type="submit" value="Delete current character">Delete current character</button>
		</form>
	</div>
</div>

<h2>Survivor</h2>
<p>&nbsp;</p>

<div class="story">
<p> Good job!</p>
<p> You survived the attacks and were able to fight back, defeating everyone and everything that came your way.  </p>
<p> Their time has come to an end. Their story is over. Your story continues. </p>
<p> Nicely done, adventurer. </p>
<p>&nbsp;</p>
</div>

<div name="stats">
<form>
	<p> Name: {{ this_character_name }} </p>
	<p> Status: Legend </p>
</form>
</div>
</body>
</html>